<title>{% block title %}{% endblock %}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css')  }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/uif_basic.css')  }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/uif">User Information Fusion</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li id="error-screen"><a></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar background"></div>
        <div class="col-md-3 sidebar"></br>
        <ul class="nav nav-pills nav-stacked" style="margin-top:50px">
            <li class="active"><a href="/uif">
                    <span class="glyphicon glyphicon-star"></span> 
                    Home
            </a></li>
            <li><a href="/uif/text">
                    <span class="glyphicon glyphicon-align-justify"></span> 
                    Text
            </a></li>
            <li><a href="/uif/token">
                    <span class="glyphicon glyphicon-align-left"></span> 
                    Token
            </a></li>
            <li><a href="/uif/pos">
                    <span class="glyphicon glyphicon-list"></span> 
                    POS
            </a></li>
            <li><a href="/uif/extractor">
                    <span class="glyphicon glyphicon-list-alt"></span> 
                    Extractor
            </a></li>
            <li><a href="/uif/complement">
                    <span class="glyphicon glyphicon-education"></span> 
                    Complement
            </a></li>
        </ul>
        </div>

        <div class="col-md-3"></div>
        <div class="col-md-9" style="margin-top:30px">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/uif_basic.js')}}"></script>
