{% extends "uif/layout.html" %}

{% block title%}UIF | POS{% endblock %}

{% block body %}
<div class="page-header">
    <h1>POS</h1> 
</div>

<div class="row page-block border-bottom-block">
    <div class="col-md-8">
        <h3>Select Sample User</h3>
        <p>To protect users' rights, we only provide few number of sample
            users and never leak the username or other info rather than tweets 
            and status of each peer.</p>
    </div>
    <div class="col-md-4">
        <h3></h3>
        <form role="form" method="POST" action="/uif/pos" class="form"
            style="float:right">
            <div class="form-group">
                <select class="form-control" style="width:250px" 
                    name="user_id">
                    <option value="0">Please Select User</option>
                    <option value="1">User 1.</option>
                    <option value="2">User 2.</option>
                    <option value="3">User 3.</option>
                </select>
            </div>
            <div class="form-group form-group-st">
                <input type="text" value="1" name="tw_page_no" class="hide-btn"/>
                <input type="text" value="1" name="fb_page_no" class="hide-btn"/>
                <input type="text" value="twitter" name="source" class="hide-btn"/>
                <button type="submit" class="btn btn-primary input-long">
                    <span class="glyphicon glyphicon-ok"></span>
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
{% if session.method == "GET" %}
<div class="row page-block">
    <h3></h3>
    <div class="well">
        <p>None Data. Please select user first.</p>
    </div>
</div>
{% endif %}
{% if session.method == "POST" %}
<div class="row page-block">
    <div class="col-md-8"><h3>POS Tags</h3></div>
    <div class="col-md-4">
        <h3></h3>
        <form role="form" method="POST" action="/uif/pos" class="form"
            style="float:right">
            <div class="form-group">
            <input type="text" value="" name="source" class="hide-btn" 
                id="text-source"/>
            <div class="btn-group" style="width:250px">
                <button type="submit" class="btn btn-primary input-mid"
                    id="tw-btn">Twitter</button>
                <button type="submit" class="btn btn-primary input-mid"
                    id="fb-btn">Facebook</button>
            </div>
            </div>
        </form>
    </div>
</div>
<div class="page-block row">
    <div class="col-md-12 well" style="margin-top:-10px">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    {% if session['source'] == 'twitter'%}Tweet Tags
                    {% elif session['source'] == 'facebook' %}Status Tags
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody id="data_screen">
        {% for text in data['texts'] %}
            <tr class="text-tokens">
                <td>
                    <textarea>{{text['content']}}</textarea>
                    {% for  p in text['pos'] %}
                    {% if   p[1]=='RB'%}
                    <font class="yellow-mark" data-toggle="tooltip" 
                        title="{{p[1]}}"> {{p[0]}}</font>
                    {% elif p[1]=='JJ'%}
                    <font class="red-mark" data-toggle="tooltip" 
                        title="{{p[1]}}"> {{p[0]}}</font>
                    {% elif p[1]=='PR'%}
                    <font class="green-mark" data-toggle="tooltip" 
                        title="{{p[1]}}"> {{p[0]}}</font>
                    {% elif p[1]=='VB'%}
                    <font class="purple-mark" data-toggle="tooltip" 
                        title="{{p[1]}}"> {{p[0]}}</font>
                    {% elif p[1]=='NN'%}
                    <font class="blue-mark" data-toggle="tooltip" 
                        title="{{p[1]}}"> {{p[0]}}</font>
                    {% else %}{{p[0]}}
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="pager" style="margin:10 0 0 0 ">
        <li class="previous"><a id="prev">Previous</a></li>
        <li class="next"><a id="next">Next</a></li>
    </ul>
    </div>
</div>
<div class="page-block row">
    <div class="panel panel-primary" style="margin-top:-10px">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-certificate"></span> Tip
        </div>
        <div class="panel-body"><p>
            <font class="yellow-mark">Yellow</font> for 'RB' means adverbs;
            <font class="red-mark"   >Red</font>    for 'JJ' means adjective;
            <font class="green-mark" >Green</font>  for 'PR' means pronoun;
            <font class="purple-mark">Purple</font> for 'VB' means verb;
            <font class="blue-mark"  >Blue</font>   for 'NN' means noun.
            </p></div>
    </div>
</div>
<script>
    var $SCRIPT_ROOT = "{{ session['host'] }}"
    function refresh_table(data){
        $("#data_screen").empty()
        inner = ""
        for (i=0; i < data.length; i++){
            pos     = data[i].pos
            content = data[i].content
            inner += "<tr class='text-tokens'><td>"
            inner += "<textarea>"+content+"</textarea>"
            for (j=0; j<pos.length; j++){
                tag = pos[j]
                if (tag[1]=='RB'){
                    inner += " <font class='yellow-mark' data-toggle='tooltip'"
                    inner += "title='"+tag[1]+"'>"+tag[0]+"</font> "
                    }
                else if (tag[1]=='JJ'){
                    inner += " <font class='red-mark' data-toggle='tooltip'"
                    inner += "title='"+tag[1]+"'>"+tag[0]+"</font> "
                    }
                else if (tag[1]=='PR'){
                    inner += " <font class='green-mark' data-toggle='tooltip'"
                    inner += "title='"+tag[1]+"'>"+tag[0]+"</font> "
                    }
                else if (tag[1]=='VB'){
                    inner += " <font class='purple-mark' data-toggle='tooltip'"
                    inner += "title='"+tag[1]+"'>"+tag[0]+"</font> "
                    }
                else if (tag[1]=='NN'){
                    inner += " <font class='blue-mark' data-toggle='tooltip'"
                    inner += "title='"+tag[1]+"'>"+tag[0]+"</font> "
                    }
                else{inner += " "+tag[0]+" "}
            }
            inner += "</td></tr>"
        }
        $("#data_screen").html(inner)
        $('[data-toggle="tooltip"]').tooltip();
        $('.text-tokens').hover(function(){
            raw_text = $(this).find('textarea').val()
            $(this).popover({title:"Raw Text",content:raw_text,placement:"top"})
        })
    }
    $(document).ready(function(){
        i = {{session.user_id}}
        $("select[name='user_id'] option[value='"+i+"']").attr('selected', 'selected')
        $("#fb-btn").click(function(){$("#text-source").val("facebook")})
        $("#tw-btn").click(function(){$("#text-source").val("twitter")})

        $("#next").click(function(){$.getJSON($SCRIPT_ROOT+"uif/pos/change_page"
                    ,{'page':"next"},function(data){refresh_table(data.texts)})})
        $("#prev").click(function(){$.getJSON($SCRIPT_ROOT+"uif/pos/change_page"
                    ,{'page':"prev"},function(data){refresh_table(data.texts)})})
        $('.text-tokens').hover(function(){
            raw_text = $(this).find('textarea').val()
            $(this).popover({title:"Raw Text",content:raw_text,placement:"top"})
        })
    })
</script>
{% endif %}

{% endblock %}
