<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>MrUirf</title>
		<script src="/static/js/pace.min.js"></script>
		<link rel="stylesheet" href="/static/css/dataurl.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/pure-min.css">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
  		<script src="/static/js/jquery-1.11.2.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/d3.v3.min.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="container">
				<h3 style="color:white;font-family:Raleway">User Identity Resolution and User Information Fusion across Multi-Social Network</h3>
			</div>
		</div>
		<div class="body">
			<div class="panel panel-default">
  				<div class="panel-body" style="padding:10px">
    				<form class="form-inline">
						<div class="form-group">
							<label>GitHub</label>
							<input type="text" class="form-control" name="github_username" id="github_username" placeholder="Jane Doe" style="margin: 0 8px">
						</div>
						<div class="form-group">
							<label>Twitter</label>
							<input type="text" class="form-control" name="twitter_username" id="twitter_username" placeholder="Jane Doe" style="margin: 0 8px">
						</div>
						<div class="form-group">
							<label>Depth</label>
							<input type="text" class="form-control" name="depth" value="2" style="margin: 0 8px">
						</div>
						<div class="form-group">
							<label>Iterations</label>
							<input type="text" class="form-control" name="iterations" value="100" style="margin: 0 8px">
						</div>
						<button class="pure-button pure-button-primary">Begin</button>
					</form>
  				</div>
			</div>
			<div class="container" style="color:#777">
				<caption>Visualization:</caption>
			</div>
			<div class="visualization">
				<div id="github" class="block"></div>
				<div id="twitter" class="block"></div>
			</div>
			<div class="container results table-responsive">
				<table class="table table-striped table-bordered">
					<caption>Results:</caption>
					<tr>
						<th style="text-align:center">GitHub Username</th>
						<th style="text-align:center">Twitter Username</th>
						<th style="text-align:center">Network Structure Similarity</th>
						<th style="text-align:center">Username Similarity</th>
					</tr>
					<tr>
						<td>stamaimer</td>
						<td>stamaimer</td>
						<td>0.348435821303</td>
						<td>0</td>
					</tr>
					<tr>
						<td>stamaimer</td>
						<td>LunRongChen</td>
						<td>0.348435821303</td>
						<td>2</td>
					</tr>
					<tr>
						<td>stamaimer</td>
						<td>curmium</td>
						<td>0.348435821303</td>
						<td>2</td>
					</tr>
					<tr>
						<td>graytowne</td>
						<td>LunRongChen</td>
						<td>0.283489649968</td>
						<td>2</td>
					</tr>
					<tr>
						<td>graytowne</td>
						<td>stamaimer</td>
						<td>0.283489649968</td>
						<td>2</td>
					</tr>
					<tr>
						<td>graytowne</td>
						<td>curmium</td>
						<td>0.283489649968</td>
						<td>2</td>
					</tr>
					<tr>
						<td>whuchenrui</td>
						<td>stamaimer</td>
						<td>0.22459625064</td>
						<td>2</td>
					</tr>
					<tr>
						<td>carwestsam</td>
						<td>stamaimer</td>
						<td>0.22459625064</td>
						<td>2</td>
					</tr>
					<tr>
						<td>whuchenrui</td>
						<td>curmium</td>
						<td>0.22459625064</td>
						<td>2</td>
					</tr>
					<tr>
						<td>carwestsam</td>
						<td>LunRongChen</td>
						<td>0.22459625064</td>
						<td>2</td>
					</tr>
					<tr>
						<td>carwestsam</td>
						<td>curmium</td>
						<td>0.22459625064</td>
						<td>2</td>
					</tr>
					<tr>
						<td>whuchenrui</td>
						<td>LunRongChen</td>
						<td>0.22459625064</td>
						<td>2</td>
					</tr>
					<tr>
						<td>curme</td>
						<td>curmium</td>
						<td>0.123839570663</td>
						<td>1</td>
					</tr>
					<tr>
						<td>angelsister</td>
						<td>LunRongChen</td>
						<td>0.123839570663</td>
						<td>2</td>
					</tr>
					<tr>
						<td>curme</td>
						<td>stamaimer</td>
						<td>0.123839570663</td>
						<td>2</td>
					</tr>
					<tr>
						<td>angelsister</td>
						<td>stamaimer</td>
						<td>0.123839570663</td>
						<td>2</td>
					</tr>
					<tr>
						<td>curme</td>
						<td>LunRongChen</td>
						<td>0.123839570663</td>
						<td>2</td>
					</tr>
					<tr>
						<td>angelsister</td>
						<td>curmium</td>
						<td>0.123839570663</td>
						<td>2</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="footer">
			<img src="/static/img/github.png">
			<a href="https://github.com/stamaimer/MrUirf" style="color:white;">User Identity Resolution and User Information Fusion across Multi-Social Network</a>	
		</div>
	</body>
	<script src="/static/js/utility.js"></script>
</html>
